<div class="form-control tags" data-role="tags">
<span class="label" data-role="label">{{placeholder}}</span>
{{#each tags2}}<span tabindex="-1" class="tag" data-role="tag">{{text}}</span>{{/each}}
</div>
