<div class="name" data-role="name"><i class="fa fa-file-text"></i> {{name}}</div>
<div class="size" data-role="size">{{size}}</div>
<div class="state" data-role="state"></div>
<div class="dimens" data-role="dimens">
  <span data-role="width">{{width}}</span> &times; <span data-role="height">{{height}}</span>
</div>
<div class="remove" data-role="remove" title="删除">&times;</div>