<div id="hero">
    <div class="inner">
        <ul id="nav">
            <li><a href="/guide/" class="nav-link">Guide</a></li>
            <li><a href="/api/" class="nav-link">API Reference</a></li>
            <li><a href="/examples/" class="nav-link">Examples</a></li>
        </ul>

    </div>
</div>

<div id="footer">
    <a class="start" href="/guide/index.html">Get Started</a>
    <p>Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a></p>
    <p>Copyright (c) <%- date(Date.now(), 'YYYY') %> <a href="http://evanyou.me" target="_blank">Evan You</a></p>
</div>