<div class="clearfix">
  <ul class="pagination pull-right">
    <li {{#if first}}class="disabled"{{/if}}><a href="javascript:;" class="first">&laquo;</a></li>
    <li {{#if first}}class="disabled"{{/if}}><a href="javascript:;" class="previous">上一页</a></li>
    {{#each pagers}}
      <li {{#if active}}class="active"{{/if}}><a href="javascript:;" data-index="{{number}}">{{number}}</a></li>
    {{/each}}
    <li {{#if last}}class="disabled"{{/if}}><a href="javascript:;" class="next">下一页</a></li>
    <li {{#if last}}class="disabled"{{/if}}><a href="javascript:;" data-value="{{totalPages}}" class="last">&raquo;</a></li>
  </ul>
</div>