<button class="textcolor" hidefocus="true" type="button" tabindex="-1">
  <i data-role="remove" title="删除颜色" class="fa fa-times-circle remove"></i>
  <i class="fa fa-font"></i>
  <input data-role="inputColor" type="color" />
</button>
