<ul>
  {{#each items}}
  <li{{#if selected}} class="selected"{{/if}} data-role="item" data-index="{{@index}}">
    <span class="thumb"><img src="{{src}}"></span>
    <span class="name">{{alt}}</span>
  </li>
  {{/each}}
</ul>